.login-view {
  ._login-form {
    animation: fadeInUp 1s 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      alternate backwards;
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(0.4rem);
      }
    }
    input {
      background-color: #3f3f3f;
      color: #cccccc;
      outline: none;
      box-shadow: none;
      transition: all ease-out 0.5s;
      &:focus {
        transition: all ease-in 0.5s;
        box-shadow: 3px 3px 15px #b9930950;
      }
    }
    button {
      background-color: $alpha-color;
      color: #eee;
    }
  }
  .content-column {
    background-image: url(/dist/img/chat-icon.svg);
    background-position: center center;
    background-size: 15rem;
    min-height: 100%;
    background-repeat: no-repeat;
  }
}
